.dlt{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 6rem;
    height: 6rem;
    /* border: 3px red solid; */
    border-radius: 50%;
    background-color: white;
}
button{
    background-color: rgb(21, 210, 243);
    color: white;
    margin: .8rem;
    margin-top: 2.3rem;
    border-radius: 5px;
}