.datacontainer {
  background-color: rgb(240, 235, 235);
  display: flex;

  height: min-content;
  flex-wrap: wrap;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
.card {
  position: relative;
  width: 23.4%;
  height: 12rem;
  border: 2px rgb(33, 6, 185) solid;
  margin: 11px;
  background-color: rgb(15, 185, 236);
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-4px);
}
.infoName {
  text-align: center;
  padding: 3px;
  color: white;
  font-size: 26px;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5px;
  margin-bottom: 16px;
}
.infoName::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 8rem;
  height: 3px;
  background-color: red;
  top: 40px;
  left: 34.3%;
  margin-bottom: 10px;
}
.info {
  padding: 3px;
  color: white;
}
span {
  margin-right: 1rem;
}
.iimg{
  width: 5rem;
  height: 5rem;
  margin-left: 8px;
  margin-top: 8px;
  border-radius:   29%;
}